/* base16 default dark
 * https://github.com/chriskempson/base16-default-schemes
 */

:root {
	--base00: #000000;
	--base01: #050505;
	--base02: #1d1d1d;
	--base03: #ffffff;
	--base04: #ffffff;
	--base05: hsl(32, 100%, 50%);
	--base06: #e8e8e8;
	--base07: #f8f8f8;
	--base08: #ab4642;
	--base09: #dc9656;
	--base0A: #ffffff;
	--base0B: #818181;
	--base0C: #86c1b9;
	--base0D: #00dfa7;
	--base0E: #ba8baf;
	--base0F: #a16946;
}
